torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
diffusers
transformers
accelerate
scipy
safetensors
protobuf
sentencepiece
peft
datasets
wandb
matplotlib
bitsandbytes